/**/
/**/
/**/
/***********************************************************/
/*                        MI APP CSS                       */
/***********************************************************/

body{
 padding-top: 80px;
}

.bq-logo-h{
 height: 90px;
}

.bq-img{
 height: 180px;
 padding-top: 10px;
}

.bq-navbar{
 background-color: white;
}
.bq-navbar-brand-w{
 width: 100%;

}

.well {
 background-color: grey;
}

