/**/
/**/
/**/
/***********************************************************/
/*                        MI APP CSS                       */
/***********************************************************/

body{
 padding-top: 50px;
}

.bq-logo-h{
 height: 70px;
}

.bq-navbar{
 background-color: white;
}
.bq-navbar-brand-w{
 width: 100%;

}
